<!DOCTYPE html>
<head>
    <title>Buscaminas </title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style type = text/css> 
        html{
            font-family: 'Montserrat', sans-serif;
        }
        header{
            height: 95px;
            margin:auto;
            display:flex;
            text-align:justify;
            justify-content: space-between;
            background-color:#020301;
            color:#f3f5f9;
            padding:20px;
        }
        footer{
            background-color:#020301;
            color:#f3f5f9;
            padding:20px;
            text-align: center;
            margin-top: auto;
            position:absolute;
            bottom:0;
            width:100%;
        }
        body{
            background-color:#f3f5f9;
            color:#020301;
        }
        header img{
            margin-right:50px;
        }
        header .left{
            display: flex;
        }
        header img .vaca{
            text-align: right;
            margin: 0px;
        }

        header .titulo-container{
            margin:0px;
            align-content: center;
            height: 30px;
        }
        body{
            margin:0px;

        }
        body .main{
            background-color:#f3f5f9;
            color:#020301;
            padding:30px;
            margin:0px;
        }
        form{
            text-align: center;
        }
        .button{
            background-color:#020301;
            color:#f3f5f9;
            padding:10px;
            border-radius: 3px;
            width: auto;
            font-size: 20px;
            text-transform: capitalize;
        }
        .button:hover{
            background-color:#90adc6;
            color:#020301;
        }
        .last-title{
            text-align:center;
            padding-top: 30px;
        }
    </style>
</head>
<body>
    <header>
        
        <div clas="titlo-container">
                <h1 class="titulo">Clasico</h1>         
        </div>
        
    </header>
    <div class="main">
            <center>   
                    <%if $nombre==""%>
                    <h2 style="color:#FF0000">Aviso!!!</h2>
                    <h2>Tiene que ingresar su nombre !!(っ-̶●̃益●̶̃)っ ,︵‿ </h2>
                    <% end %>
                    <form method="post" action="/juegoFacil">

                    <h3>Ingrese su nombre</h3>
                    <input type="tex" value="" name="nombre"  >

                    <h1>Niveles:</h1>
                    <input type="submit" value="Nivel Facil"  >
                    </form>
            </center>
    </div>
</body>
<footer>
    <p>Buscaminas Vercion 2.0</p>
</footer>
</html>



