<!DOCTYPE html>
<head>
        <title>Buscaminas </title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
        <style type = text/css> 
        html{
                font-family: 'Montserrat', sans-serif;
        }
        header{
                height: 95px;
                margin:auto;
                display:flex;
                text-align:justify;
                justify-content: space-between;
                background-color:#020301;
                color:#f3f5f9;
                padding:20px;
        }
        body{
                background-color:#f3f5f9;
                color:#020301;
        }
        header img{
                margin-right:50px;
        }
        header .left{
                display: flex;
        }
        header img .vaca{
                text-align: right;
                margin: 0px;
        }

        header .titulo-container{
                margin:0px;
                align-content: center;
                height: 30px;
        }
        body{
                margin:0px;

        }
        body .main{
                background-color:#f3f5f9;
                color:#020301;
                padding:30px;
                margin:0px;
        }
        form{
                text-align: center;
        }
        .button{
                background-color:#020301;
                color:#f3f5f9;
                padding:10px;
                border-radius: 3px;
                width: auto;
                font-size: 20px;
                text-transform: capitalize;
        }
        .button:hover{
                background-color:#90adc6;
                color:#020301;
        }
        .last-title{
                text-align:center;
                padding-top: 30px;
        }
</style>
</head>
<body>
<header>
        
        <div clas="titlo-container">
                <h1 class="titulo">Ingrese las minas para el juego</h1>         
        </div>
        
</header>
        <div class="main">
                <center>   
                                

                                        <form method="post" action="/marcarBombas">
                                        <h8>X: </h8>  
                                        <input type="text" name="x"  size="3">
                                        <h8>Y: </h8>  
                                        <input type="text" name="y" size="3">
                                        <input type="submit" value="Marcar"  >
                                        </form>
                                        <form method="post" action="/empezarJuego">
                                                ¿<input type="submit" value="Empezar Juego"  >
                                        </form>
                                        
                                        <%if @res==0 %>
                                                <h2 style="color:#FF0000">Aviso!!</h2>
                                                <h2>Se marco Incorrectamente !!(っ-̶●̃益●̶̃)っ ,︵‿ </h2>
                                        <% end %>
                                        <%if @res==-4 %>
                                                <h2 style="color:#FF0000">Aviso!!!</h2>
                                                <h2>Marco la misma casilla !!(っ-̶●̃益●̶̃)っ ,︵‿ </h2>
                                        <% end %>
                                        <%if @res==-5 %>
                                                <h2 style="color:#FF0000">Aviso!!!</h2>
                                                <h2>Ya no puede llenar mas bombas !!(っ-̶●̃益●̶̃)っ ,︵‿ </h2>
                                        <% end %>
                                <table class="egt" BORDER BGCOLOR="#ECECEC" style="margin: 0 auto;">  
                                        <% for i in 0..$juego.getfila-1 %>
                                                
                                                <tr>
                                                        <% for j in 0..$juego.getcolumna-1 %>      
                                                                <td align="center" style="WIDTH: 75px; HEIGHT: 75px" ><%=$juego.getVistaBom[i][j]%></td>
                                                        <%end%>                                                                    
                                                </tr> 
                                        <%end%>

                                </table>    
                </center>
        </div>
</body>
</html>




