<!DOCTYPE html>
<head>
    <title>Buscaminas </title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style type = text/css> 
        html{
            font-family: 'Montserrat', sans-serif;
        }
        header{
            height: 95px;
            margin:auto;
            display:flex;
            text-align:justify;
            justify-content: space-between;
            background-color:#020301;
            color:#f3f5f9;
            padding:20px;
        }
        footer{
            background-color:#020301;
            color:#f3f5f9;
            padding:20px;
            text-align: center;
            margin-top: auto;
            position:absolute;
            bottom:0;
            width:100%;
        }
        body{
          background-color:#f3f5f9;
          color:#020301;
        }
        header img{
            margin-right:50px;
        }
        header .left{
            display: flex;
        }
        header img .vaca{
            text-align: right;
            margin: 0px;
        }

        header .titulo-container{
            margin:0px;
            align-content: center;
            height: 30px;
        }
        body{
            margin:0px;

        }
        body .main{
            background-color:#f3f5f9;
            color:#020301;
            padding:30px;
            margin:0px;
        }
        form{
            text-align: center;
        }
        .button{
            background-color:#020301;
            color:#f3f5f9;
            padding:10px;
            border-radius: 3px;
            width: auto;
            font-size: 20px;
            text-transform: capitalize;
        }
        .button:hover{
            background-color:#90adc6;
            color:#020301;
        }
        .last-title{
            text-align:center;
            padding-top: 30px;
        }
    </style>
</head>
<body>
    <header>
        
        <div clas="titlo-container">
                <h1 class="titulo">Ingrese la modalidad que quiere Jugar</h1>         
        </div>
        
    </header>
    <div class="main">
            <center>   
            <TABLE BORDER WIDTH=60% HEIGHT=200>
            <TR>
                <TD BGCOLOR="#EEE8AA" WIDTH=52%>
                    <center>
                        <h1>Clasico</h1>
                        <form method="post" action="/Juego_Clasico">
                            <input type="submit" value="Click"  >
                        </form>
                    </center>
                </TD>
                <TD BGCOLOR="#98FB98" >
                    <center>
                        <h1>Personalizado  </h1>
                        <form method="post" action="/Interfaz_personalizado">
                        <input type="submit" value="Click"  >
                    </form>
                    </center>
                </TD>
            </TR>
            </TABLE>
            </center>
    </div>
</body>
<footer>
    <p>Buscaminas Vercion 2.0</p>
</footer>
</html>
