<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<style>body{background:url("https://img.webme.com/pic/c/cssplantillas/confeti.gif")repeat fixed;}</style>

<center>
<h1>Llenar formulario</h1>
<h3>Ingrese su nombre</h3>
<input type="tex" value=" " name="nombre"  >
<br><br><br><br><br>

<form method="post" action="/juegoFacil">
<h1>Niveles:</h1>
<input type="submit" value="Nivel Facil"  >
</form>
<br>
<br>
<h1>Personalizado</h1>
<form method="post" action="/personalizado">

<h3>Numero de Filas</h3>
<input type="text" value=" " name="fil"  >
<h3>Numero de Columnas</h3>
<input type="text" value=" " name="colum"  >
<br>
<input type="submit" value="Jugar Personalizado"  >
</form>

</center>