<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<style>body{background:url("https://img.webme.com/pic/c/cssplantillas/confeti.gif")repeat fixed;}</style>

<center>
<h1><h1>Ganaste!!!!</h1></h1>
<img src="https://media.tenor.com/images/e18de738e02a96ebacd4127a2f07a1cc/tenor.gif" width="500" height="500">

<form method="post" action="/volverAjugar">
<input type="submit" value="Volver A Jugar?"  >
</form> 
</center>